<h3>20 most recent donations</h3>
<table>
<tr><th>Date</th><th>Amount</th><th>Category</th></tr>
<tr><td>8/20/2021</td><td>0.00212mBTC</td><td>Any</td></tr>
<tr><td>8/18/2021</td><td>0.00023mBTC</td><td>CodeReviews</td></tr>
<tr><td>8/12/2021</td><td>2.24848mBTC</td><td>Any</td></tr>
<tr><td>8/8/2021</td><td>0.00227mBTC</td><td>Any</td></tr>
<tr><td>8/8/2021</td><td>0.00227mBTC</td><td>Any</td></tr>
<tr><td>8/8/2021</td><td>0.00227mBTC</td><td>Any</td></tr>
<tr><td>8/8/2021</td><td>0.00227mBTC</td><td>Any</td></tr>
<tr><td>8/8/2021</td><td>0.00227mBTC</td><td>Any</td></tr>
<tr><td>8/5/2021</td><td>0.00025mBTC</td><td>Any</td></tr>
<tr><td>8/1/2021</td><td>0.02442mBTC</td><td>Any</td></tr>
<tr><td>7/31/2021</td><td>0.13525mBTC</td><td>Any</td></tr>
<tr><td>7/31/2021</td><td>0.23812mBTC</td><td>Any</td></tr>
<tr><td>7/28/2021</td><td>0.00335mBTC</td><td>Any</td></tr>
<tr><td>7/28/2021</td><td>0.02499mBTC</td><td>Any</td></tr>
<tr><td>7/22/2021</td><td>0.19084mBTC</td><td>Any</td></tr>
<tr><td>7/17/2021</td><td>0.03196mBTC</td><td>Any</td></tr>
<tr><td>6/27/2021</td><td>0.0001mBTC</td><td>Any</td></tr>
<tr><td>6/13/2021</td><td>0.37184mBTC</td><td>Any</td></tr>
<tr><td>6/12/2021</td><td>0.02797mBTC</td><td>CodeReviews</td></tr>
<tr><td>5/18/2021</td><td>0.22345mBTC</td><td>Any</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>
<h3>All donations by category</h3>
<table><tr><th>Category</th><th>Sum</th></tr>
<tr><td>Any</td><td>1914.18006mBTC</td></tr>
<tr><td>CodeReviews</td><td>5.15573mBTC</td></tr>
<tr><td>MoreOS</td><td>3.05023mBTC</td></tr>
<tr><td>MoreWallets</td><td>0.10336mBTC</td></tr>
<tr><td>Alerts</td><td>0.01231mBTC</td></tr>
<tr><td>NonBitcoinWallets</td><td>0.00097mBTC</td></tr>
<tr><th>Total</th><th>1922.50266mBTC</th></tr>
</table>